

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to right, #71adbd, #cbe1ee);
  }
  #00BFFF	
  .container {
    height: 100%;
  }
  .login-form {
    background-color: #eaeaea;
    width: 350px;
    height: 550px;
    border-radius: 15px;
    
    /* 定位到中心 */
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .text {
    /* 标题Login的样式 */
    font-size: 30px;
    font-weight: bold;
  
    text-align: center;
    line-height: 80px;
    margin-top: 30px;
  }
  .form-item, .btn, .other {
    margin: 30px auto;
    width: 90%;
  }
  .inputtext{
	  height: 25px;
	  font-size: 16px
  }
  input {
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    /* placeholder变更为大写字体 */
    /* text-transform: uppercase; */
    /* 边框效果 */
    border: 0;
    outline: none;
    border-bottom: 1px solid #fbc2eb;
  }
  input::placeholder{
    font-weight: bold;
    color: #acb7c9;
  }
  input:focus {
    /* 当输入框获取焦点时的效果 */
    /* box-shadow: 0px 0px 5px #fbc2eb;
    border-bottom: 1px solid #fff; */
    animation: bBottom 2s infinite ;
  }
  @keyframes bBottom {
    50% {
      border-bottom: 1px solid #a6c1ee;
    }
  }
  .btn {
    /*height: 40px;*/
    line-height: 40px;
    /* 字体 */
    color: #000000;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    /* 鼠标样式 */
    cursor: pointer;
    /* 边框、背景 */
    border-radius: 10px;
    background: linear-gradient(to right, #fbc2eb, #a6c1ee, #fbc2eb);
    background-size: 200%;
    font-size: 20px;
  }
  .btn:hover {
    animation: btnAnimate 1s infinite;
  }
  @keyframes btnAnimate {
    50% {
      background-position: 200%;
    }
  }
  
  a {
    text-decoration: none;
    color: #ff00b7;
  }
  .select{
  background: rgba(127,255,212);
  width: 280px;
  height: 60px;
  border-radius: 10px;
  }
  option
  {
  text-align:center;
  }
  .other{
	  margin-top: 40px;
	  text-align: left;
  }
